<ul>
    <a href="#" routerLink="/products/details" routerLinkActive="active">
        <div id="product">
            <p>Trash Panda</p>
            <img src="../assets/img/racoon.jpg" alt="Raccoon" height = 200px>
            <p>$13.37</p>
        </div>
    </a>
    <div >
        <p>Sea Cow</p>
        <img src="../assets/img/manatee.jpg" alt="Manatee" height = 200px>
        <p>$39.99</p>
        
    </div>
    <div>
        <p>Surf's Up</p>
        <img src="../assets/img/penguin.jpg" alt="Penguin" height = 200px>
        <p>$20.07</p>
    </div>
</ul>