<!DOCTYPE html>
<html lang=en>
  <head>
      <title>Home page</title>
      <link href="https://fonts.googleapis.com/css?family=Bubblegum+Sans&display=swap" rel="stylesheet">
  </head>
  <body>
    <nav>
        <ul id="navBar">
            <div id="left"></div> 
            <h1>PlooshPalooza</h1>
            <li><a href="#" routerLink="/cart" routerLinkActive="active">Cart</a></li>
            <li><a href="#" routerLink="/sign-in" routerLinkActive="active">Sign in</a></li>
            <li><a href="#" routerLink="/products" routerLinkActive="active">Products</a></li>
            <li><a href="#" routerLink=''>Home</a></li>
            <div id="right"></div> 
        </ul>
    </nav>
    <div>
    </div>
  </body>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</html>