
#navBar{
    list-style-type: none;
    overflow: hidden;
    background-color: #333;
    background-image: url(../assets/img/arabesque.png);
    
}
#navBar li {
float: right;
}

#navBar li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

// changes shade of navigational link on hover
li a:hover {
background-color: #111;
}
// sets background of entire website
body {
    background-color: #db66cc;
    background-image: url(../assets/img/black-orchid.png)
}
header{
    text-align: center;
}
// this is currently the website title/logo
h1{
    font-size: 2em;
    display: inline;
    color: #db66cc;
    font-family: 'Bubblegum Sans', cursive;
}
