<!DOCTYPE html>
<html lang=en>
  <head>
      <title>Home page</title>

  </head>
  <body>
    <nav>
        <header>
            WELCOME TO BUBSIE
        </header>
        <ul>
            <li><a href="#" routerLink="/sign-in" routerLinkActive="active">Sign in</a></li>
            <li><a href="#" routerLink="/products" routerLinkActive="active">Products</a></li>
            <li><a href="#" routerLink=''>Home</a></li>
        </ul>
    </nav>
    <div>
    </div>
  </body>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</html>