div{
    background-color: white;
}
#name{
    text-align: center;
    font-size: 1.7em;
}
#price{
    text-align: center;
    font-size: 1.5em;
}
#details{
    text-align: center;
    font-size: 1.2em;
}